dump/
.venv
.DS_Store
*.ipynb
__pycache__
clean_db_test/
config.py

# Data files outside of current scope
data/clean/
data/test/
data/raw/unwto-all-data-download_112023.xlsx

# Functions outside of current scope
etl/

warehouse_design/